!!!
html(lang="en")
  head
    title hub.f-box.org
    link(rel='stylesheet',type='text/css',href='/css/style.css')
    script(src='http://static.ak.fbcdn.net/connect/en_US/core.js')
    script(type='text/javascript',src='/js/app.js')
  body
    a(href='http://github.com/DanBUK/hub')
      img(style='position: absolute; top: 0; right: 0; border: 0;',alt='Fork me on GitHub',src='https://gs1.wac.edgecastcdn.net/80460E/assets/img/4c7dc970b89fd04b81c8e221ba88ff99a06c6b61/687474703a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f77686974655f6666666666662e706e67')
    div(class='header')
      h2 hub.f-box.org
      a(href='/') Home
      -if (everyauth.loggedIn)
        -if (everyauth.user.nickname)
          &nbsp;
          a(href='/' + everyauth.user.nickname) Profile
        &nbsp;
        a(href='/logout') Logout
      -else
        br
        #fb-login.fb_button(style='background-position: left -188px')
            a.fb_button_medium(href='/auth/facebook')
              span#fb_login_text.fb_button_text
                Connect with Facebook
        &nbsp;
        #twitter-login
            a(href='/auth/twitter', style='border: 0px')
              img(style='border: 0px', src='https://si0.twimg.com/images/dev/buttons/sign-in-with-twitter-d.png')
    div(class='content')
      != body