!!!
html(lang="en")
  head
    title hub.f-box.org
    link(rel='stylesheet',type='text/css',href='/css/style.css')
    script(src='http://static.ak.fbcdn.net/connect/en_US/core.js')
    script(type='text/javascript',src='/js/app.js')
  body
    != body